body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url(/img/fundo.png);
}

#controls {
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px; /* Espaçamento entre as células */
    margin-bottom: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    background-image: url(/img/mar.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black; /* Borda preta ao redor das células */
}

.cell.hit {
    background-image: url(/img/barco.png);
}

.cell.miss {
    background-image: url(/img/agua.png);
}

#gameContainer {
    display: flex;
}

#history {
    margin-left: 20px;
}

#history ul {
    list-style-type: none;
    padding: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 50px); /* Ajuste para 10 colunas */
    gap: 5px; /* Espaçamento entre as células */
    margin-bottom: 20px;
}
